<div id="restaurants">
  <h1>List of restaurants</h1>

  <table class="table table-striped">
    <thead>
      <tr>
          <th>Restaurants <%= link_to 'Add restaurant', new_restaurant_path %></th>
        </tr>
    </thead>
    <tbody><% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to '+', restaurant_path(restaurant) %></td>
      </tr>
    </tbody>
    <% end %>
  </ul>
  </table>
  <%= flash[:notice] %>
</div>